.main_wall{
  margin-top: 30px;
}

.content{
  margin-left: 230px;
}

.img_set{
  display: flex;
  flex-wrap: wrap;
}

.img_set a {
  display: block;
  position: relative;
  padding-right: 10px;
  margin:10px auto 10px;

}
