@import "bootstrap.css";
@import url('https://fonts.googleapis.com/css?family=Mali');
@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');

body{
    background-color: #f9e8f0;
}
.navbar-light .navbar-nav .nav-link {
  font-family: 'Mali', cursive;
  font-size: 22px;
  height: 50px;
}

.login_button {
  font-family: 'Mali', cursive;
}

/* nav, .log_but{
  font-family: 'Gloria Hallelujah';
} */
.log_but {
  padding: 6px 12px 6px 12px;
  /* border: 1px solid #c266de; */
  border: none;
  color: #fff;
  font-size: 22px;
  background-color: transparent;
  border-radius: 4px;
  /* box-shadow: 1px 5px 10px -5px black; */
  transition: all 0.3s ease;
}

.search_button {
  font-size: 18px;
}

.log_but:hover {
  cursor: pointer;
  border: 1px solid #28a745;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
}

.right_pannel {
  margin-left: auto;
  margin-right: 0;
}

.login {
  margin-left: 15px;
}

.slide {
  margin: 50px 100px 50px 100px;
  max-height: 250px;
}

.d-block {
  display: inline-block;
}

.w-100 {
  max-width: 33%;
}

.login_dropdown {
  position: relative;
}

.Top_bg {
  background-image: url(../background/bg.jpg);
  background-position: top center;
  height: 160px;
  position: relative;
  /* padding: 25px 0 0; */
}

.navbar-brand {
  display: block;
  /* position: absolute; */
}

.bg-light {
  border-top: 2px solid #521d32;
  border-bottom: 2px solid #645077;
  /* border-bottom:  4px solid rgb(130, 30, 48); */
  background-color: #3b5b34;
}

.nav_back {
  margin: 0px;
  height: 50px;
}

.navbar a:hover {
  background-color: rgb(130, 30, 48);
  color: #fff;
}

.navbar a {
  color: rgb(255, 255, 255);
}

.dropdown-item {
  /* border-left: 3px solid rgb(130, 30, 48); */
  /* border: 1px solid rgb(130, 30, 48); */
  background: rgb(108, 177, 94);

}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  /* padding: 0.5rem 0; */
  /* margin: 0.125rem 0 0; */
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  /* background-color: #fff; */
  background-clip: padding-box;
  /* border: 1px solid rgba(0, 0, 0, 0.15); */
  /* border-radius: 0.25rem; */
}

.show>.nav-link {
  background-color: rgb(130, 30, 48);
}
.dropdown:hover > .dropdown-menu {
    display: block;
}
