@import "bootstrap.css";
@import url('https://fonts.googleapis.com/css?family=Mali');
@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');

.navbar-light .navbar-nav .nav-link {
  font-family: 'Mali', cursive;
  font-size: 22px;
}

.login_button {
  font-family: 'Mali', cursive;
}

/* nav, .log_but{
  font-family: 'Gloria Hallelujah';
} */

.log_but {
  padding: 6px 12px 6px 12px;
  border: 1px solid #28a745;
  color: #007bff;
  font-size: 22px;
  border-color: #007bff;
  background-color: transparent;
  border-radius: 4px;
  /* box-shadow: 1px 5px 10px -5px black; */
  transition: all 0.3s ease;
}

.search_button {
  font-size: 18px;
}

.log_but:hover {
  cursor: pointer;
  border: 1px solid #28a745;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
}

.right_pannel {
  margin-left: auto;
  margin-right: 0;
}

.login {
  margin-left: 15px;
}

.slide{
  margin: 50px 100px 50px 100px;
  max-height: 250px;
}

.d-block{
  display: inline-block;
}

.w-100{
  max-width: 33%;
}

.login_dropdown{
  position: relative;
  
}
