#main_wall{
  width: 100%;
}
html,body,div,article,footer,header{
background: transparent;
border: 0px;
font-size: 100%;
}

#header{
  text-align: left;
  text-transform: uppercase;
  text-transform: bolt;
}

ul{
  list-style: none;
}

.logo_icon{
  background: url(https://store-images.s-microsoft.com/image/apps.10440.14289392684619682.e0cb1d4d-b3eb-464b-954b-06c407235f2d.637518ec-a9c0-4211-80d0-23f2c2442c30?mode=scale&q=90&h=270&w=270&background=%23FFFFFF);
}
